*
avatars/*
trip_banners/*
!.gitignore
!trip_banners
!trip_banners/placeholder.jpg
!avatars
!avatars/placeholder.jpg
!avatars/placeholder.png
!avatars/test0000.jpg
!avatars/test0001.jpg
!avatars/test0002.jpg
!avatars/test0003.jpg
!avatars/test0004.jpg
!avatars/test0005.jpg
!avatars/test0006.jpg
!avatars/test0007.jpg
!avatars/test0008.jpg
!avatars/test0009.jpg

